<ul>
    <li style="color: #dae100;"><strong>{{ libro.nombre}}</strong></li>
    <li><strong>Autor: </strong>{{ libro.autor}}</li>
    <li><strong>Año: </strong>{{ libro.anyo}}</li>
    {% if libro.editorial %}
    <li><strong>Editorial: </strong>{{ libro.editorial.nombre}}</li>
    {% endif %}
</ul>