{% extends 'base.html.twig' %}
{% block title %}Libros{% endblock %}
{% block body %}
    <h1>Ficha del libro</h1>
    {% if libro %}
     {{ include ('partials/datos_libro.html.twig', { 'libro': libro}) }}
    {% else %}
        <p>Contacto no encontrado</p>
    {% endif %}
{% endblock %}