{% extends 'base.html.twig' %}
{% block title %} Libros {% endblock %}
{% block body %}
        <h1>Aplicación de Libros</h1>
        <h2>Bienvenido a la web de mi aplicación de libros</h2>
        <p>Esta es la página de Inicio</p>
        <p>En esta aplicación puedes guardar informacion sobre libros, principalmente su nombre, autor y año de salida</p>
{% endblock %}